@page "/"

<PageTitle>Index</PageTitle>

@using Scrapper.Services
@inject IWatcherService WatcherService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (streams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Website</th>
                <th>Channel</th>
                <th>Status</th>
                <th>WaitTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stream in streams)
            {
                <tr>
                    <td>@stream.Website</td>
                    <td>@stream.Channel</td>
                    <td>@stream.Status</td>
                    <td>@stream.WaitTime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Stream>? streams;

    protected override async Task OnInitializedAsync()
    {
        streams = await Task.Run(() => WatcherService.ListStreams);
    }
}
